.search__container {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    margin-bottom: 5rem;
}


.search__input {
    width: 25rem;
    height: 3.6rem;
    padding-left: 1.125rem;
    background: #FFF;
    border-radius: var(--radius);
    border: 0.072rem var(--third-color, #081732) solid;
}

.search__btn {
    border-radius: var(--radius);
    border: 0.072rem solid var(--third-color, #081732);
    background: #FFF;
    box-shadow: 0px 17.376px 34.751px 0px rgba(233, 237, 242, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.125rem;
    cursor: pointer;
}

.search__input::placeholder {
    padding-left: 1.125rem;
    color: #9AA0B4;
}